In [2]:
import pandas as pd
from matplotlib import pylab

In [8]:
print(pd. __version__)
print(pylab. __version__)

2.1.4
1.26.4

#series create ,manipulicate,querry,delete

In [22]:
#create a series from a list
arr=[1,3,4,5,6,7]
s1=pd.Series(arr)
s1

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [6]:
import numpy as np

1    -0.141285
2     1.856845
3    -0.329861
4    -0.264362
5     0.174077
6     0.902134
7     0.778907
8    -0.669696
9     1.138998
10    0.086305
dtype: float64

In [31]:
#MODIFY INDEX 
s1.index=['a','b','c','d','e','f']
s1

a    1
b    3
c    4
d    5
e    6
f    7
dtype: int64

In [29]:
#slicing
print(s1[3:])
print(s1[:-2])

d    5
e    6
f    7
dtype: int64
a    1
b    3
c    4
d    5
dtype: int64

In [37]:
#droping require item
s1.drop('f')  #syntax of drop is s1.drop(index)

a    1
b    3
c    4
d    5
e    6
dtype: int64

In [36]:
order=[1,2,3,4,5,6]
s2=pd.Series(arr,index=order)
s2

1    1
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [16]:
order=['a','b','c','d','e','f']
s2=pd.Series(arr,index=order)
s2

a    1
b    3
c    4
d    5
e    6
f    7
dtype: int64

In [17]:
#create series from dictionary

In [19]:
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s3=pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
#operation of series
a=[1,2,3,4,5,6]
s=pd.Series(a)
s4=s1.copy()
s5=[0,9,8,7,6,5]
print(s4.add(s5))#mustbe there is must be equal the data types
print(s4.mul(s5))
print(s4.div(s5))
print(s4.sub(s5))
#print(s4.median(s5))

0     1
1    12
2    12
3    12
4    12
5    12
dtype: int64
0     0
1    27
2    32
3    35
4    36
5    35
dtype: int64
0         inf
1    0.333333
2    0.500000
3    0.714286
4    1.000000
5    1.400000
dtype: float64
0    1
1   -6
2   -4
3   -2
4    0
5    2
dtype: int64

In [10]:

s=np.random.randn(10)
inx=(1,2,3,4,5,6,7,8,9,10)
s1=pd.Series(s,index=inx)
s2=s1.copy()

1    -0.070895
2    -0.983170
3     1.339524
4     1.161815
5     0.293547
6     0.997242
7    -1.249420
8    -0.802208
9     0.573135
10   -1.099759
dtype: float64

In [18]:
s2.median()

0.11132640684741238

In [26]:
s3=s2.add(s2)
s3

1    -0.141789
2    -1.966341
3     2.679049
4     2.323630
5     0.587095
6     1.994485
7    -2.498839
8    -1.604415
9     1.146271
10   -2.199518
dtype: float64

In [29]:
s4=s3.sub(s1)
s4.drop(10)

0         NaN
1   -3.141789
2   -5.966341
3   -2.320951
4   -3.676370
5   -6.412905
6         NaN
7         NaN
8         NaN
9         NaN
dtype: float64

In [4]:
dic={'a':[1,2,3],
     'b':[2,3,4],
     'c':[3,4,5],
     'd':[4,5,6],
     'e':[5,6,7]}

In [7]:
s=pd.Series(dic)
s

a    [1, 2, 3]
b    [2, 3, 4]
c    [3, 4, 5]
d    [4, 5, 6]
e    [5, 6, 7]
dtype: object

In [14]:
s1=s.sort_values()
s1
s1.notnull()

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [21]:
#to for form multiple funtion at atime we use agregate funtion
s=pd.Series([1,2,3],index=['a','b','c'])
s
agg=s.aggregate(['sum','mean','std'])
agg
#if we loc for index 
s.loc['a'] # loc is location
#and we use iloc index of the ibex
s.iloc[1] # iloc is intigerlocation

2

In [64]:
dates=pd.date_range('today',periods=10)
c=np.random.randn(10,10)
d=pd.DataFrame(c,index=dates,columns=[1,2,3,4,5,6,7,8,9,10])
d

,1,2,3,4,5,6,7,8,9,10
2024-05-19 19:27:38.159533,0.652234,-0.085960,-0.534127,0.577694,0.464609,-1.090040,0.623026,-0.961550,0.530388,0.810917
2024-05-20 19:27:38.159533,-0.231383,-1.818856,-0.199850,-1.254689,-0.667657,-1.112941,-0.670090,-1.112732,0.788376,0.394177
2024-05-21 19:27:38.159533,-1.017685,-0.172869,-1.219302,1.137245,-1.577333,0.169428,0.986715,0.990465,0.065674,-0.308867
2024-05-22 19:27:38.159533,-1.733398,0.559578,-1.462407,0.196274,-0.557904,0.562832,-0.336896,-0.169315,-0.300361,-0.741215
2024-05-23 19:27:38.159533,-0.927460,-0.689421,-2.152585,-0.737419,0.247054,2.238998,0.536161,-1.544880,0.287498,0.579483
2024-05-24 19:27:38.159533,-0.957403,0.969390,-0.990500,-1.300363,0.578862,1.144584,-1.259898,1.042649,0.434956,-1.454113
2024-05-25 19:27:38.159533,0.670924,-0.418547,0.163076,1.080577,-0.641624,-0.147601,0.833514,-0.063880,-0.043259,-1.119934
2024-05-26 19:27:38.159533,0.064876,0.028737,1.261437,0.323473,-0.191871,0.863455,-0.325506,-0.884237,0.691184,-0.943661
2024-05-27 19:27:38.159533,0.237429,-0.674015,-0.172790,0.235774,1.951272,0.175825,-0.603151,-1.557423,-1.342769,1.070377
2024-05-28 19:27:38.159533,-1.310207,1.390110,1.217704,1.162156,-0.343613,-0.299038,-1.341943,0.461880,-1.292135,0.238347

In [73]:
d.head()
d.tail()
d.describe
d.T
d.columns
d.index

DatetimeIndex(['2024-05-19 19:27:38.159533', '2024-05-20 19:27:38.159533',
               '2024-05-21 19:27:38.159533', '2024-05-22 19:27:38.159533',
               '2024-05-23 19:27:38.159533', '2024-05-24 19:27:38.159533',
               '2024-05-25 19:27:38.159533', '2024-05-26 19:27:38.159533',
               '2024-05-27 19:27:38.159533', '2024-05-28 19:27:38.159533'],
              dtype='datetime64[ns]', freq='D')

In [80]:
d[[1]].mean()

1   -0.455207
dtype: float64

In [84]:
d[1]=4

In [85]:
d.isnull()

,1,2,3,4,5,6,7,8,9,10
2024-05-19 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-20 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-21 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-22 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-23 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-24 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-25 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-26 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-27 19:27:38.159533,False,False,False,False,False,False,False,False,False,False
2024-05-28 19:27:38.159533,False,False,False,False,False,False,False,False,False,False

In [96]:
d.to_csv('animal_csv')
df_animal=pd.read_csv('animal_csv')
df_animal.head() #require head(index)

df_animal2=pd.read_excel('animal.xlsx','sheet1',index_col=None,na_values=['NA'])
df_animal2

  Unnamed: 0 animal  age  visits priority
0          a    cat  2.5       1      yes
1          b    cat  3.0       3      yes
2          c  snake  NaN       2       no
3          d    dog  5.0       3      yes
4          e    dog  2.0       2       no